	<nav class='nav'>
		<ul class="nav nav-pills nav-justified">
			<li>
				<a href='javascript:void(0);' data-toggle="offcanvas" data-target=".navmenu" data-canvas=".canvas">
					<span class='fa fa-bars'></span>
					Menu
				</a>
			</li>
			<li>
				<a href='tel:323-514-5689'>
					<span class='fa fa-phone'></span>
					Call
				</a>
			</li>
			<li>
				<a href='mailto:mel@themadhaus.com'>
					<span class='fa fa-envelope'></span>
					Email
				</a>
			</li>
			<li>
				<a href='sms:323-514-5689'>
					<span class='fa fa-mobile-phone'></span>
					Text
				</a>
			</li>
		</ul>
	</nav>